{% extends "base.html" %}
{% block title %}{{ get_username() }}{% endblock %}
{% block page_body %}
<h1>{{ userID }} Panel on {{CTName}} with Topic {{topic}}</h1>
<div class="container" style="margin-top: 5%; margin-bottom: 5%;">
  <div class="row">
    <div class="col-sm">
      Status: Active
    </div>
    <div class="col-sm">
      Message Traffic: {{pub_count}}
    </div>
    <div class="col-sm">
      Additional Info
    </div>
  </div>
</div>
  <table style="width:100%" class="table">
    <!-- table header -->
    {% if keys %}
    <thead class="thead-dark">
    <tr>
       {% for key in keys %}
       <th> {{ key }} </th>
       {% endfor %}
    </tr>
  </thead>
    {% endif %}
  <tbody>
    <!-- table rows -->
    {% for dict_item in table_data %}
    <tr>
       {% for key in keys %}
       <td> {{ dict_item[key] }} </td>
       {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}
