{% extends 'base.html' %}
{% block title %}Secret{% endblock %}

{% block page_body %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
        {% for account in allAccount %}
        <tr>
            <th scope="row">{{account['uesrName']}}</th>
            <th scope="row">{{account['email']}}</th>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <div class="bs-example">
    <div class="container">
        <div class="row">
            <div class="col-md-12 bg-light text-right">
                <button type="button" class="btn btn-dark" onclick="window.location.href='{{ url_for('complex_view')}}';">View Unverified Account</button>
            </div>
        </div>
    </div>
</div>


  <script>
    function activate_user(userName) {
        var xhr = new XMLHttpRequest(); 
        var url = "http://localhost:5500/activate";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function() {
            if (xhr.readyState ===4 && xhr.status === 200) {
                var json = JSON.parse(xhr.responseText);
                console.log(json)
            }
        };
        const parse_data = {
            "userName" : userName
        }
        var data = JSON.stringify(parse_data);
        xhr.send(data);
        location.reload();
    }
</script>
{% endblock %}

